<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
<title>List of audiences</title>
</head>
<body>
	<nav th:replace="fragments :: navbar"></nav>
	<div class="container">
		<h1>AudiencesList</h1>
		<a th:href="@{/audiences/addNewAudienceForm}"
			class="btn btn-success btn-sm mb-3"> Add Audience </a>
		<table class="table table-striped table-bordered table-dark">
			<thead class="thead-dark">
				<tr>
					<th>Audience Id</th>
					<th>Audience Number</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="audience : ${audiences}">
					<td th:text="${audience.audienceId}"></td>
					<td th:text="${audience.audienceNumber}"></td>
										<td><a
						th:href="@{/audiences/showFormForUpdate/{id}(id=${audience.audienceId})}"
						class="btn btn-primary">Edit</a> <a
						th:href="@{/audiences/deleteAudience/{id}(id=${audience.audienceId})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>