<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
<title>List of teachers</title>
</head>
<body>
	<nav th:replace="fragments :: navbar"></nav>
		<div class="container">
		<h1>List of teachers</h1>
		<table class="table table-striped table-bordered table-dark">
			<thead class="thead-dark">
				<tr>
					<th>Teacher Id</th>
					<th>FirstName</th>
					<th>LastName</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="teacher : ${teachers}">
					<td th:text="${teacher.teacherId}"></td>
					<td th:text="${teacher.firstName}"></td>
	                <td th:text="${teacher.lastName}"></td>	
				</tr>
			</tbody>
		</table>
	</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>